name: Brokechef

services:
  postgres:
    image: postgres:17.6-alpine
    environment:
      POSTGRES_USER: brokechef
      POSTGRES_PASSWORD: brokechef
      POSTGRES_DB: brokechef
    ports:
      - '5432'
    volumes:
      - brokechef-db:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    image: 'bedobe/brokechef-server:latest'
    env_file:
      - ./server/.env
    environment:
      PORT: 3000

      REDIS_HOST: redis
    ports:
      - '3000'
    depends_on:
      - postgres
      - redis

  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    image: 'bedobe/brokechef-client:latest'
    environment:
      API_PROXY_PASS: http://server:3000
    ports:
      - '3001:80'
    depends_on:
      - server

volumes:
  brokechef-db:
  redis-data:
