@theme {
  --font-primary: 'Poppins', ui-sans-serif, system-ui, sans-serif;

  --color-header: #170f49;
  --color-background-form: #f1fdf5;
  --color-background-main: #f7f8f9;
  --color-welcome-dark: #1c232d;

  --color-input-background: #ffffff;

  --color-submit-text: #556987;

  --color-rating: #fcc800;

  --color-primary-green: #10b981;
  --color-secondary-green: #3aef73;
  --color-tertiary-green: #7bed9f;
}
