@theme {
  --font-primary: 'Poppins', ui-sans-serif, system-ui, sans-serif;

  --color-header: #170f49;
  --color-background-primary: #f1fdf5;
  --color-welcome-dark: #1c232d;

  --color-input-background: #ffffff;

  --color-start: #10b981;
  --color-mid: #3aef73;
  --color-end: #7bed9f;
}
