server {
  listen 80;
  listen [::]:80;

  client_max_body_size 20M;

  gzip on;

  server_tokens off;

  location /api/upload {
    proxy_pass $API_PROXY_PASS;
    proxy_request_buffering off;
    client_max_body_size 0;

    include etc/nginx/proxy_params.conf;
  }

  location /api {
    proxy_pass $API_PROXY_PASS;

    include etc/nginx/proxy_params.conf;
  }

  location / {
    root /usr/share/nginx/html;
    index index.html;
    try_files $uri $uri/ /index.html;
  }
}
